@{
    ViewBag.Title = "Index";
}

<h2>Test</h2>
<button id="btntest">Update auction</button>


@section scripts
{
<script>
    $(document).ready(function () {
        $('#btntest').on('click', function () {
            var dataurl = "/AuctionedItem/CloseAllEndedAuction";
            
            $.ajax({
                url: dataurl,
                method: "GET",
                success: function (data) {
                    console.log(data)
                },
                error: function (err) {
                    console.log(err)
                }
            });
        });
        var isAdmin = $('#isAdmin').length
        if (isAdmin > 0)
        {
            setInterval(updateAuction, 5000);
        }
    });

    function updateAuction()
    {
        var dataurl = "/AuctionedItem/CloseAllEndedAuction";

        $.ajax({
            url: dataurl,
            method: "GET",
            success: function (data) {
                console.log(data)
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
</script>
    }