<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationIcon" id="notificationList">
                                
    @*<li><a class="dropdown-item" href="#">Notification 1</a></li>
    <li><a class="dropdown-item" href="#">Notification 2</a></li>
    <li><a class="dropdown-item" href="#">Notification 3</a></li>
    <li><a class="dropdown-item" href="#">Notification 4</a></li>*@
    <li><hr class="dropdown-divider"></li>
    <li>
        <a class="dropdown-item" href="~/Notification">See All Notifications</a>
                                        
    </li>
</ul>